<!DOCTYPE html>
<html>
    <title>Reserve Your Desk</title>
    <link rel="stylesheet" type="text/css" href="Homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <body>
        <section class="header">
            <div class="back">
                <nav>
                        <img src="images/transparent logo.png" class="logo">
                        <ul>
                            <li class="home"><a href="Homepage.html">Home</a></li>
                            <li><a href="">More</a></li>
                            <li><a href="">Login</a></li>
                            <li><a href="">Sign-Up</a></li>
                            <li><a href=""><b>About</b></a></li>
                        </ul>
                        <button type="button" ><a href="chooselogin.html" class="choose">Get Started</a></button>
                </nav>
            </div>
            <div class="intro">
                <h1>Hosting Meetings Made Easier</h1>
                <p1>Reserve Your Desk And Keep A Hold On Office Occupancy At Your Fingertips</p1>
            </div>
        </section>
        <div class="body1">
        <img src="images/PngItem_468051.png" class="working">
        <h1><i>Hosting a Meeting Made Simpler</i></h1>
        <p1>Companies can quickly build meeting spaces with Reserve Your Desk. The occupancy and utilisation rate can be tightly controlled by them. Yet, employees can readily reserve desks at their places of employment as well as meeting spaces. Finding the proper balance between working from home and at the office is made simpler by Reserve Your Desk. nevertheless makes it easy and hassle-free.</p1>
        </div>
        <div class="body2">
        <img src="images/pngegg.png" class="shake">
        <h1><i>Workplace Management</i></h1>
        <p1>Make specific spots available based on facilities,or per user group. You can immediately see which places havebeen reserved and when they will become available again.And you have a helpful overview of whether your colleagues are present and where they are!</p1>
        </div>
    </body>
</html>