<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="seatbooking.css" />
    <title>Meeting Seat Booking</title>
  </head>
  <body>
    <div class="movie-container">
      <h2>Name : Vedant Dumbhare</h2>
      <h2>Category : Attendee</h2>
      <h2>Meeting Date : 24/08/23</h2>
      <h2>Time : 12:30pm</h2>
      <br>
      <br>
      <label>Choose meeting name</label>
      <select id="movie">
        <option value="10">Sales Analytics</option>
        <option value="12">Code issues</option>
        <option value="8">Progress Report</option>
        <option value="9">Team meetings</option>
      </select>
    </div>

    <ul class="showcase">
      <li>
        <div class="seat"></div>
        <small>Available</small>
      </li>

      <li>
        <div class="seat selected"></div>
        <small>Selected</small>
      </li>

      <li>
        <div class="seat occupied"></div>
        <small>Occupied</small>
      </li>
    </ul>

    <div class="container">
      <div class="screen"></div>
      <div class="row">

      </div>
      <div class="row">
      </div>

      <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
      </div>

      <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        
      </div>

      <div class="row">

      </div>

      <div class="row">
        

      </div>
    </div>

    <p class="text">
    </p>
    <script src="script.js"></script>
    <form action="booked.html" target="_blank">
      <button type="submit">Book seat</button>
  </form>
  </body>
</html>