<!DOCTYPE html>
<html>
    <title>User Login</title>
    <link rel="stylesheet" type="text/css" href="userlogin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <body>
            <div class="back">
                <nav>
                        <img src="images/transparent logo.png " class="logo">
                        <ul>
                            <li class="home"><a href="">Home</a></li>
                            <li><a href="">More</a></li>
                            <li><a href="">Login</a></li>
                            <li><a href="">Sign-Up</a></li>
                            <li><a href=""><b>About</b></a></li>
                        </ul>
                        <button type="button">Get Started</button>
                </nav>
            </div>
            <div class="center">
                <h1>Sign Up</h1>
                 <form action="/signup" method="post" >
        <input placeholder="Name" name="name" type="text">
        <br>
        <input placeholder="Email Id" name="email" type="email">
        <br>
        <input placeholder="Password" name="password" type="password">
        <br>
        <input class="sub" type="submit">
    </form>
            </div>
              <a href="/">Go back to login page</a>
    </body>
</html>
